<nav class="navbar navbar-inverse borderNavBar">

  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand"><img src="../assets/images/GE-logo3.png" alt="" style="
      margin-top: -25px;"></a>    
  </div>

  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav" *ngFor="let menu of menus">
      <li>
        <a *ngIf="!menu.parent" (click)="onSelectMenu(menu)" [routerLink]="menu.routerLink">{{ menu.title }}</a>
      </li>
      <li class="dropdown" *ngIf="menu.parent">
        <a class="dropdown-toggle" [routerLink]="menu.routerLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.title }}&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li *ngFor="let child of menu.childs; let i = index;" class="subMenu">
              <a [routerLink]="child.routerLink" (click)="onSelectMenu(child)">{{ child.title }}</a>              
              <div *ngIf="i < (menu.childs.length -1)" class="divider"></div>
            </li>            
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid ">
  <app-headers [menu]="selectedMenu"></app-headers>
  <div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>