<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search...">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
    <table class="table table-hover" [@flyInOut]>
        <thead>
            <tr>
                <th class="col-xs-1">No.</th>
                <th class="col-xs-8">Name</th>
                <th class="col-xs-2">Active</th>
                <th class="col-xs-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of areas; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Active | active }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" tooltip="Edit" (click)="openModal(templateArea, actionEnum.EDIT, row)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" tooltip="{{row.active | inverseActive}}" (click)="activateOrDeactivate(row)">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" *ngIf="areas.length === 0" style="text-align: center">
        <h3>{{noDataFound}}</h3>
    <div class="col-sm-1 pull-right">
        <button class="btn btn-primary" (click)="openModal(templateArea, actionEnum.ADD)" tooltip="Add">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<hr />
<table class="table table-hover" [@flyInOut]>
    <thead>
        <tr>
            <th class="col-xs-1">No.</th>
            <th class="col-xs-8">Name</th>
            <th class="col-xs-2">Active</th>
            <th class="col-xs-1">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of areas | actStatusPipe: {name : search, active: search} : false ; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{row.Name}}</td>
            <td [ngClass]="{'deactivate': !row.active}">{{row.Active | active }}</td>
            <td>
                <button type="button" class="btn btn-sm btn-primary" tooltip="Edit" (click)="openModal(templateArea, actionEnum.EDIT, row)">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary" tooltip="{{row.active | inverseActive}}" (click)="activateOrDeactivate(row)">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row" *ngIf="areas.length === 0" style="text-align: center">
    <h3>{{noDataFound}}</h3>
</div>


<ng-template #templateArea>
    <form #frmArea="ngForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">
                <i class="fa fa-plus" *ngIf="actionSelected === actionEnum.ADD"></i>
                <i class="fa fa-pencil" *ngIf="actionSelected === actionEnum.EDIT"></i>
                <i class="fa fa-eye" *ngIf="actionSelected === actionEnum.VIEW"></i>
                {{ actionSelected === actionEnum.ADD ? actionTitle.ADD : actionSelected === actionEnum.EDIT ? actionTitle.EDIT : actionSelected
                === actionEnum.VIEW ? actionTitle.VIEW : actionTitle.NONE }}
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalArea.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="area.Name" required/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!frmArea.valid">Save</button>
        </div>
    </form>
</ng-template>